body {color: rgb(255, 204, 204); background-color: rgb(100, 100, 100);}
h1 {color: rgb(204, 204, 255); background-color: rgb(100, 100, 100);}
h2 {color: rgb(204, 204, 255); background: rgb(100, 100, 100);}