body {color: rgb(255, 204, 204); background-color: rgb(100, 100, 100); font-family: 'Merriweather', serif;}
h1 {color: rgb(204, 204, 255); background-color: rgb(100, 100, 100);}
h2 {color: 	rgb(217, 255, 204); background: rgb(100, 100, 100);}
h3 {color:rgb(217, 255, 204); background-color: rgb(100, 100, 100);}